html{
	background: #B2CED8 url("images/bannerboat.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: 'Fjalla One', sans-serif;
	background-color: transparent;
	color: #D9F1FE;
}
h1{
	font-size: 400%;
	color: #5B7483;
	font-family: 'Anton', sans-serif;
}
a:hover {
	text-decoration: none;
}
footer a:hover{
		color: lightblue;
}
.navbar{
	box-shadow: 0 8px 6px -7px #59625C;
}
#footDiv{
	background-color: #2C3539;
	color: white;
	padding: 40px;	
}
.backDrop{
	margin-top: 50px;
	background-color: rgba(40,54,62,0.75);
	-moz-box-shadow: 0 0 10px #28363E;
	-webkit-box-shadow: 0 0 10px #28363E; 
	box-shadow: 0 0 10px #28363E;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
}
.divImage{
	display: block;
	margin: auto;
	opacity: 0.8;
	box-shadow: 0 0 10px #28363E;
	border-radius: 10px;
	max-width: 100%;
}
#coworking{
	position: relative;
}
#coworkinghover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
}
#coworkinghover:hover{
	opacity: 0.4;
}

@media screen and (max-width: 459px){
	#carrot{
		display: none;
	}
}

@media screen and (min-width: 460px) and (max-width: 767px){
	#carrot{
		display: none;
	}
}

@media screen and (min-width: 768px){
	.dropdown:hover .dropdown-menu{
		display: block;
	}
	#carrot{
		background-color: #B1C7E3;
	}
	#carrot:hover{
		background-color: #8CABD2;
	}
}