body {
	font-family: 'Fjalla One', sans-serif;
	background-color: rgb(42,73,104);
}
h1 {
	font-family: 'Anton', sans-serif;
}
a:hover {
	text-decoration: none;
}
.navbar {
	box-shadow: 0 8px 6px -7px #56925C;
}
#footDiv {
	background-color: #2C3539;
}
@media screen and (max-width: 459px) {
	#carrot{
		display: none;
	}
}
@media screen and (min-width: 460px) and (max-width: 767px) {
	#carrot{
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	#carrot {
		background-color: #B1C7E3;
	}
	#carrot:hover {
		background-color: #8CABD2;
	}
}
